body{
      background-size: cover;
    background-color: #e8f3f8;
    position: relative;
}
h1,h2,h3{
    text-align: center;
    padding: 20px; 
}
/* Navigation bar */
.navbar {
    z-index: 10000;
   padding: 0 0 4.5rem;
    background-color:  #F7E9D7;
      position: fixed;
    top: 0px;
    width: 100%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.3rem;
  font-weight: bold;
    padding: 2rem 0 0 2rem;

}

.nav-item {
  padding-top: 3.2rem;
    margin-right: 4.5rem;

}
.navbar-toggler {
    margin-top: 2rem;
    height: 50px;
    width: 90px;
    color: #11999E;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
  font-family: "Montserrat-light";
  font-size: 1.6rem;
    margin-bottom: 30px;
}


.top-container{
 height: 100vh;
    background-color: blue;
    background-repeat:no-repeat;
     background-size: cover;
}



/*top Container Carousel */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3.5rem;
  line-height: 1.5;
text-align: center;
    margin: 15% 15%;
    font-weight: 900;
    color: white;
}


.carousel-item1{
   background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(images/presch.jpg);
    height: 100vh;
    background-color: blue;
    background-repeat:no-repeat;
     background-size: cover;
} 
.carousel-item2{
   background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(images/school.jpg);
    height: 100vh;
    background-color: blue;
    background-repeat:no-repeat;
     background-size: cover;
} 



/*Middle-container*/
.middle-container{
    background-color: #FFF6EA;
}

.style_featured{
    padding: 20px 0;
    text-align: center;
}
.style_featured > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.5s;
}
.style_featured > div:hover > div{
    margin-top: +19px;
    border: 1px solid rgb(153, 200, 250);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 9px 9px;
    background: rgba(153, 200, 250, 0.1);
    transition: 0.99s;
}
.tile-image{
    height: 15rem;
    width: 15rem;;
    border-radius: 100%
}
